/* -----------------------------
-------- Buttons
 ------------------------------*/

//@include button-variant($btn-default-color, $btn-default-bg, $btn-default-border);
//@include button-size($padding-large-vertical, $padding-large-horizontal, $font-size-large, $line-height-large, $btn-border-radius-large);

.btn { 
	font-weight: normal;
	border: 1px solid transparent;
	@include button-size( 6px , 12px , 14px,  1.42857143, 4px);
  transition: all 0.3s ease 0s;
}

.btn-round {
  font-weight: normal;
  border: 1px solid transparent;
  @include button-size( 10px , 20px , 14px,  1.42857143, 20px);
}


// Success appears as green



.btn-default {
  @include button-variant( #000 , #fff , #e4e4e4 );
}


//size of btn

.btn-lg {
  @include button-size( 10px , 16px , 18px, 1.3333333, 6px);
}

.btn-sm {
  @include button-size( 5px , 10px , 12px, 1.5, 3px);
}

.btn-xs {
  @include button-size( 1px , 5px , 12px, 1.5, 3px);
}



@mixin button-bg($bg) {
  background: $bg;
  &:hover {
    background:darken($bg,8%);
    transition: all 0.3s ease;
  }
  &:active {
    background:darken($bg,25%);
  } 
}

.btn-blue {
   @include button-bg(#3498db);
}

